[Desktop Entry]
Name=edb-debugger
Encoding=UTF-8
Exec=edb
Icon=kali-edb-debugger
StartupNotify=false
Terminal=false
Type=Application
Categories=07-reverseengineer;
X-Kali-Package=edb-debugger
X-XFCE-Source=file:///usr/share/applications/edb.desktop
